name: Scheduled Trigger for 1.4
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 #v4
      - name: Trigger v1.4 build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh workflow run MainDistributionPipeline.yml --ref v1.4
